
.class-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 55px;
  text-align: center;
}

.collapse-toggler {
  flex-grow: 0;
  text-align: center;
}

.show-button {
  margin-bottom: 15px;
}

.page-total {
  margin-bottom: 30px;
}

.product-list-item {
  border:none;
}